{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div class="container mx-auto">
      <section class="flex justify-center">
        <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
      </section>

      <h1 class="text-3xl">Home Page</h1>

      <h3>Student App</h3>

      <form 
	  action="" 
	  method="POST" 
	  class="text-2xl"
	  enctype="multipart/form-data"	 
	  >
	  {% csrf_token %}
        {{ form.as_p }}
        {{ msg }}
		 {% comment %} <label for="name">student name</label>
  		<input type="text" name="name" id="name" /> {% endcomment %}
		<button type="submit" class="cursor-pointer" >OK</button> 
      </form>
    </div>
  </body>
</html>
